.container--margin {
  margin-top: 48px;
  margin-bottom: 48px;
}

.container__header {
  text-align: center;
  color: #0e2633;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 48px;
}

.back-btn {
  margin-top: 48px;

  &__link {
    text-decoration: none;
    color: black;

    &:hover {
      color: black;
    }
  }
}

.search-results {
  height: 100vh;
}
