.genres-container--margin {
  margin-top: 80px !important;
  margin-bottom: 48px;
}

.container {
  &__header {
    text-align: center;
    color: #0e2633;
    font-weight: bold;
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

.genres {
  background-color: #f8f4e7;
  padding: 20px 40px;
  margin-top: 40px;
}

.genres__list {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
}

.genres__item {
  list-style: none;
  font-weight: bold;
  padding: 0 50px;
  text-align: center;

  a {
    position: relative;
    text-decoration: none;
    color: #0e2633;
    font-weight: bold;
    padding-bottom: 8px;
    transition: border-bottom 0.2s ease;

    &:after {
      content: '';
      position: absolute;
      background-color: #0e2633;
      height: 2px;
      width: 0;
      left: 0;
      bottom: 0;
      transition: 0.3s;
    }

    &:hover:after {
      width: 100%;
    }
  }
}
