.margin-top {
  margin-top: 25px;
}

.top-picks {
  margin-top: 80px;
}

.container__header {
  margin-top: 24px;
  text-align: center;
  color: #0e2633;
  font-weight: bold;
  margin-bottom: 24px;
}
