.container--margin {
  margin-top: 48px;
  margin-bottom: 48px;
}

.container {
  &__header {
    text-align: center;
    color: #0e2633;
    font-weight: bold;
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

.genres__list {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
}

.genres__item {
  list-style: none;
  font-weight: bold;
  padding: 0 50px;
  text-align: center;

  a {
    text-decoration: none;
    color: #0e2633;
    font-weight: bold;
  }
}

.item--border {
  border-right: 2px solid #0e2633;
}
